@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=PT+Serif&display=swap');
@import url( "components/container.css");
@import url("components/avatar.css");
@import url("components/button.css"); 
@import url("components/banner.css"); 
@import url("components/card.css"); 
body{
   font-family: Montserrat;
   font-size: 15px;
   margin: 0px;
}
h1, h2, h3{
   font-family: PT serif ;
}
h1{ 
    font-size: 30px ; 
}
h2{
   font-size:25px ;
}
h3{
   font-size: 23px;
}
a{ 
    text-decoration: none; 
}